.github
Model\ayo_olopon\__pycache__
Model/ayo_olopon/__pycache__/
tests/ayo_olopon/__pycache__/
tests/oware/__pycache__/__init__.cpython-314.pyc
tests/oware/__pycache__/test_oware.cpython-314-pytest-9.1.1.pyc
Model/Jekinje/
tests/ayo_olopon/completed_episodes.json
tests/ayo_olopon/episode_2700.json
tests/ayo_olopon/episode_2701_cycle.json
tests/ayo_olopon/relay_cycle_episodes.json
tests/ayo_olopon/relay_cycle_reports.json

Model/oware/__pycache__
Model/ayo_olopon/__pycache__/ayo_olopon.cpython-314.pyc
Model/ayo_olopon/__pycache__/ayo_olopon.cpython-314.pyc
episode_debug.json
tests/ayo_olopon/completed_game_episodes/completed_game_episodes_0.json
tests/ayo_olopon/completed_game_episodes/completed_game_episodes_2.json
tests/ayo_olopon/__pycache__/test_ayo_olopon.cpython-314.pyc
Model/ayo_olopon/__pycache__/ayo_olopon.cpython-314.pyc
tests/ayo_olopon/completed_game_episodes/completed_game_episodes_1.json
tests/ayo_olopon/completed_game_episodes/completed_game_episodes_3.json
Model/ayo_olopon/__pycache__/ayo_olopon.cpython-314.pyc
tests/ayo_olopon/episode_cycle_game_5.json

build/

experiments/heuristic/transfer_features
experiments/heuristic/raw_results
experiments/heuristic/openings
experiments/heuristic/__pycache__
experiments/heuristic/configs
experiments/heuristic/raw_results_corrected

Algorithms/__pycache__

tests/ayo_olopon/test_ayo_transfer_features.py
experiments/handcrafted_vs_eoh/__pycache__/
experiments/EOH/__pycache__/
